@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --btn-color:rgb(101, 72, 130);
}
body{
    background-color: #e5eaee;
    background-image: repeating-linear-gradient(90deg, #f0f0f0 0 1px, #0000 1px 40px), repeating-linear-gradient(#f0f0f0 0 1px, #0000 1px 40px);

    font-family: 'Inter',sans-serif;
}
/* flexbox layout */
.list{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*row, column, row-reverse, column-reverse  */
    justify-content: end;       
    /*justify-content: end value will not work ,because we cant arrange items in two direction at the same time using flexbox */
    /*how space should be between elemennts ,start center end space-between space-around, space - evenly */
    gap: 20px;
}   
li{
    list-style-type: none;
}
.taskInput{
    border: 0;
    padding: 12px;
    border-radius: 30px 0px 0px 30px;

}
.taskform{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 2px;
}
.taskBtn{
    background-color: var(--btn-color);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    
}
.container{
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
    
    
}
.task{
    font-weight: 600;
    font-size: medium;
}
.input-add{
    display: flex;
    justify-content: center;
}
.tasksContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.taskItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid rebeccapurple;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius:10px;
}
.task-done{
     text-decoration:line-through;
     opacity: 0.5;
}

.input-error::placeholder {
    color: red;
}
#heading{
    padding-left: 80px;
    padding-bottom: 10px;

}
.task-counter {
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f5f5f5;
    border-radius: 20px;
    font-size: 14px;
}

.task-counter span {
    color: #555;
}

.task-counter strong {
    color: #333;
    font-weight: 600;
}
.clear-button{
    background-color: var(--btn-color);
    border-radius: 20px;
}
.filterBtn{
    border-radius: 18px;
    background-color: var(--btn-color);

}
.taskActionButtonContainer{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}
.checkbox{
    width: 10px;
}
.editBtn{
    padding: 5px;
    border-radius: 10px;
    background-color: var(--btn-color);
    padding-left: 7px;
    padding-right: 9px;

}
.deleteBtn{
    padding: 8px;
    border-radius: 10px;
    background-color: var(--btn-color);
}